body {
    background-size: 600px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
    font-family: 'Raleway', sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376_1280.jpg");
  }
  .articleBody {
    height: 200px;
    font-size: 20px;
    overflow-y: scroll;
    line-height: 150%;
  }
  #btnSignUp {
    background-color: #635f60;
  }
  #nameComment {
    /*border-bottom: 2px solid #ec407a;*/
    font-weight: bold;
    background: #635f60;
    color: white;
  }
  .input-field input[type="text"]:focus + label {
    color: #635f60;
  }
  .input-field input[type="text"]:focus {
    border-bottom: 1px solid #635f60;
    box-shadow: 0 1px 0 0 #000;
  }
  .input-field .prefix.active {
    color: #635f60;
  }
  .topnav {
    background: linear-gradient(to right,
    rgb(105, 17, 17),
    rgb(44, 6, 6),
    rgb(5, 12, 107));
  }
  h1 {
    font-family: 'Galada', cursive;
  }

  .footer {
    position: fixed;
    background: linear-gradient(to right,
    rgb(105, 17, 17),
    rgb(44, 6, 6),
    rgb(5, 12, 107));
  }